BR2_arm=y
BR2_ARM_INSTRUCTIONS_THUMB=y
BR2_KERNEL_HEADERS_4_9=y
BR2_TARGET_GENERIC_HOSTNAME="ts-imx28"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="$(call github,embeddedTS,linux-4.9.y,v4.9.280-ts)/linux-v4.9.280-ts.tar.gz"
BR2_LINUX_KERNEL_DEFCONFIG="ts_imx28"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="imx28-ts7670"
BR2_LINUX_KERNEL_INSTALL_TARGET=y
BR2_PACKAGE_BUSYBOX_WATCHDOG=y
BR2_PACKAGE_BUSYBOX_WATCHDOG_PERIOD="30"
BR2_PACKAGE_LIBGPIOD=y
BR2_PACKAGE_KMOD=y
BR2_TARGET_ROOTFS_TAR_XZ=y
BR2_TARGET_MXS_BOOTLETS=y
BR2_TARGET_MXS_BOOTLETS_CUSTOM_BOARD=y
BR2_TARGET_MXS_BOOTLETS_CUSTOM_BOARD_NAME="ts7670"
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_TARBALL=y
BR2_TARGET_UBOOT_CUSTOM_TARBALL_LOCATION="$(call github,embeddedTS,u-boot,4c7dc44c9aeb3a61b8e82036d2fd91c4171f0451)/u-boot-4c7dc44c9aeb3a61b8e82036d2fd91c4171f0451.tar.gz"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="ts7670"
BR2_TARGET_UBOOT_FORMAT_SD=y
BR2_PACKAGE_TS7670_UTILS_LINUX4.X=y
